*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: Roboto,Arial,sans-serif;
}
 .ml-auto{
     margin-left: auto;
}
.flex{
     display: flex;
}
/* Navbar section*/
.heading_navigation{
     background-color: #2874f0;
     height: 56px;
     position: sticky;
     top:0;
     z-index: 2;
}
.nav_container{
     align-items: center;
     max-width: 1248px;
     margin: auto;
     width: 100%;
     position: relative;
     left:61px;
}
.logo{
     flex-direction: column;
     width: fit-content;
}
.anchor{
     cursor: pointer;
     text-decoration: none;
     color:whitesmoke;
}
.flip_logo{
     width: 75px;
}
.anchor{
     font-size:11px;
     font-style:italic;
     margin-top: -5px;
}
.plus img{
     width: 10px;
}
.plus_lan{
     color: #ffe500;
     margin:0px 2px;
     font-weight: bold;
}
.search_bar_container{
     min-width: 304px;
     width: 708px;
}
.search_bar{
     max-width: 564px;
     width: 100%;
     margin-left: 10px;
     box-shadow: 0px 2px 4px 0 rgb(0 0 0/23%);
}
.search_box{
     outline:none;
     padding: 0px 16px;
     height: 36px;
     border-radius: 2px 0px 0px 2px;
     border:0;
     width: 100%;
     font-size: 14px;
}
.btn_search{
     background:#fff;
     border:1px solid #fff;
     padding: 4px 12px 4px 8px;
     width: 44px;
     height: 36px;
     cursor: pointer;
     border-radius: 0px 2px 2px 0px;
     color:#2874f0;
     font-size: 19px;
}
.none{
     display: none;
}
.anchor:hover{
     text-decoration: underline;
}
.login{
     position: relative;
     left: 45px;
}
.login_btn{
     color:#2874f0;
     border-radius: 2px;
     border:1px solid #dbdbdb;
     background: #fff;
     letter-spacing: 1px;
     height: 32px;
     padding: 6px 40px;
     font-weight: bold;
     margin: 0px 20px;
     cursor:pointer;
     font-style: normal;
     text-decoration: none;
}
.more, .cart{
     position: relative;
     left: 45px;
}
.more_lan, .cart_lan{
     color: white;
     font-weight: bold;
     margin:0px 20px;
     cursor:pointer;
     font-size:16px;
}
/* category section */
 .category{
     display: flex;
     border-bottom: 0.5px solid lightgrey;
     width: 100%;
     position: relative;
     justify-content: center;
     flex-wrap: wrap;
}
 .cateItem{
     display: flex;
     flex-direction: row;
     font-size: 12px;
     font-weight: 600;
     justify-content: center;
     text-align: center;
     margin-top: 5px;
}
 .catImg{
     width: 60%;
     height: 70%;
}
 .dealsProduct{
     display: flex;
     margin:10px;
     flex-wrap: wrap;
     flex-direction: row;
}
 .productItem{
     display: flex;
     flex-direction: column;
     padding: 8px;
     font-size: 10px;
     justify-content: center;
}
 .productTitle{
     font-size: 12px;
     font-weight: 700;
     margin-top: 15px;
     white-space: nowrap;
     overflow: hidden;
     text-align: center;
     text-overflow: ellipsis;
}
 .productSubtitle{
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     color: #388e3c;
     text-align: center;
     padding-top: 7px;
     font-size: 12px;
}
 .productSubtitle2{
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     opacity: .6;
     text-align: center;
     padding-top: 7px;
     font-size: 12px;
}
 .offerTemplate {
     height: 87%;
     width: 50%;
     position: relative;     
}
/* slider */
 #slider-container {
     position: relative;
     overflow: hidden;
     padding: 20px;
}
 #slider-container .btn {
     position: absolute;
     top: calc(50% - 30px);
     height: 30px;
     width: 30px;
     border-left: 5px solid #1b1b1b;
     border-top: 5px solid #1b1b1b;
}
 #slider-container .btn:hover {
     transform: scale(1.2);
}
 #slider-container .btn.inactive {
}
 #slider-container .btn:first-of-type {
     transform: rotate(-45deg);
     left: 10px 
}
 #slider-container .btn:last-of-type {
     transform: rotate(135deg);
     right: 10px;
}
 #slider-container #slider {
     display: flex;
     width: 1000%;
     transition: all .5s;
}
 .btn-box{
     background-color: white;
     box-shadow: 0 2px 4px 0 rgba(0,0,0,.23);
}
 #slider-container #slider .slide {
     display: grid;
     place-items: center;
}
 #slider-container #slider .slide span {
     color: white;
     font-size: 150px;
}